@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary-color: #3a86ff;
    --secondary-color: #8338ec;
    --accent-color: #ff006e;
    --dark-color: #1a1a2e;
    --light-color: #f8f9fa;
}